html[data-theme="light"] {
	--pst-color-primary: #85648a;
	--pst-color-secondary: #de8c14;
	--pst-color-inline-code: var(--pst-color-secondary);
}

html[data-theme="dark"] {
	--pst-color-primary: #85648a;
	--pst-color-secondary: #de8c14;
	--pst-color-inline-code: var(--pst-color-secondary);
}

h1 {
	color: var(--pst-color-secondary);
	font-weight: bold;
}